.cont-info,.info-about{
    padding:  20px 0px;
}

.fila-info{
    text-align: left;
    padding: 9px 0px;
}

.cont-about{
    font-family: 'Abel', sans-serif;
    background-color: rgb(246, 246, 246);
}


.info-about{
    font-size: 18px;
}

.title{
    font-size: 30px;
}