body{
    font-family: 'Abel', sans-serif;
}

.row-principal{
    height: 50px;
}

.row-intro{
    background-color: rgb(241, 241, 241);
    height: 200px;
}

.name-intro{
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: rgb(75, 75, 75);
}

.info-intro{
    font-size:21px;
}

.home-section{
    font-family: 'Abel', sans-serif;
    padding: 200px 500px;

}

.text-intro{
    font-size: 19px;
}