

.square-cont{
    display: flex;
    margin-top: 10px;

}

.cont-skill{
    padding: 10px;
}

.cont-skills{
    padding: 50px 0px;
    font-size: 18px;
}

.square-color {
    height: 8px;
    background-color: rgb(190, 190, 190);
  }
.square-none{
    background-color: rgb(133, 133, 133);
    height: 8px;
}
