header {
    font-family: 'Abel', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 9vh;
    background-color: #f5f5f5;
    position: fixed;
    width: 100%;
    z-index: 998;
    border-bottom: 1px solid rgb(207, 207, 207);
    text-decoration: none;

  }
  header .header-title-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-starts;
    text-decoration: none;
    cursor: auto;
    margin-left: 20px;
    margin-top: 20px;

  }
  header .header-title-link  {
    margin-top: 6px;
    font-size: 30px;
    color: #3d3d3d;
    text-decoration: none;
  }

  header .header-title{
    margin-top: 10px;
  }
  header .icon-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    color: rgb(7, 7, 7);
    padding: 20px;
    font-size: 26px;
    margin-right: 20px;
  }
  header .cart-items {
    position: absolute;
    border-radius: 40%;
    padding: 0 5px;
    top: 30px;
    right: 22px;
    background: #1b1a1a;
    color: #1f1d1d;
  }
  header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    width: 100%;
    margin-top: 30px;

  }
  @media only screen and (max-width: 659px) {
    header nav {
      background-color: #1b1b1b;
    }
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    position: relative;
    margin: 0;
    margin-right: 30px;
  }
  @media only screen and (max-width: 500px) {
    header nav ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background-color: #1b1b1b;
      width: 100%;
      padding: 0 !important;
    }
  }
  header nav ul li {
    flex: auto;
    margin: 6px 3px;
  }
  header nav ul li:hover .nav-stores, header nav ul li:hover .nav-woman {
    display: flex;
    margin-top: 8px;
  }
  @media only screen and (max-width: 659px) {
    header nav ul li:hover .nav-stores, header nav ul li:hover .nav-woman {
      z-index: 9999;
      flex-direction: column;
      margin-top: 5px;
    }
  }
  header nav a {
    text-decoration: none;
    color: #1a1818;
    padding: 10px 10px;
    position: relative;
  }
  header nav a:hover {
    color: #2f4457;
  }
  header nav a:hover:before, header nav a:hover:after {
    opacity: 1;
    transform: translateY(0px);
  }
  header nav a::after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #9aafe9;
    content: "";
    transition: all 0.3s;
    opacity: 0;
    bottom: 0px;
    transform: translateY(-10px);
  }
  header nav a::before {
    top: 0px;
    transform: translateY(10px);
  }
  header nav a:active {
    color: ivory;
  }